.containers {
  align-items: flex-end !important;
  flex-direction: row !important;
  display: flex !important;
  flex: 0 0 auto;
  max-width: 100%;
  justify-content: center !important;
  margin-top: 200px;
}

#number {
  width: 50%;
  height: 30px;
}

#info {
  width: 50%;
  margin-left: 580px;
  margin-top: 20px;
  height: 30px;
}

label {
  margin-top: 43px;
  margin-right: 5px;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
}

#size {
  cursor: pointer;
  margin-top: 10px;
}

p#size-text {
  margin-top: 22px;
}

#generate,
#LinearSearch,
#BinarySearch {
  margin-left: 5px;
  background-color: #90caf9;
}

#generate span,
#LinearSearch span,
#BinarySearch span {
  color: black;
}
