.containers {
  align-items: flex-end !important;
  flex-direction: row !important;
  display: flex !important;
  flex: 0 0 auto;
  max-width: 100%;
  justify-content: center !important;
  margin-top: 200px;
}

#LinearSearch,
#BinarySearch {
  height: 100px;
  background-color: #002a44;
  color: white;
  border: none;
  cursor: pointer;
  user-select: none;
  outline: none;
  font-size: 14px;
}

button#LinearSearch {
  margin-left: 450px;
  margin-right: 75px;
}

button#BinarySearch {
  margin-left: 40px;
  cursor: pointer;
  user-select: none;
}

button#LinearSearch:disabled {
  color: red;
  cursor: not-allowed;
}

button#BinarySearch:disabled {
  color: red;
  cursor: not-allowed;
}

#number {
  width: 50%;
  margin-left: 350px;
  margin-top: 20px;
  height: 30px;
  margin-right: 150px;
}

#info {
  width: 50%;
  margin-left: 580px;
  margin-top: 20px;
  height: 30px;
}

label {
  margin-top: 43px;
  margin-right: 5px;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
}

#size {
  cursor: pointer;
}
