body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.header {
  border: 2px solid black;
  background-color: #002a44;
  display: inline-flex;
  height: 100px;
  width: 100%;
  margin-bottom: 20px;
  color: white;
  cursor: pointer;
  user-select: none;
}

button#generate,
button#go {
  height: 100px;
  background-color: #002a44;
  color: white;
  border: none;
  cursor: pointer;
  user-select: none;
  outline: none;
}

button#generate {
  margin-left: 5px;
  margin-right: 450px;
}

button#go {
  margin-left: 150px;
  cursor: pointer;
  user-select: none;
}

button#go:disabled,
button#generate:disabled {
  color: red;
  cursor: not-allowed;
}

.checkboxes {
  margin-left: 40px;
  margin-right: 10px;
  margin-top: 40px;
  cursor: pointer;
  user-select: none;
}

#size {
  margin-right: 10px;
}
#bigcontainer {
  display: inline-flex;
}

.container,
.container1,
.container2 {
  height: 450px;
  justify-content: center !important;
  align-items: flex-end !important;
  flex-direction: row !important;
  display: flex !important;
  flex: 0 0 auto;
  max-width: 100%;
  margin-top: 50px;
  border: 2px solid black;
  margin-right: 10px;
  padding: 2px;
  width: 450px;
}
.info {
  display: inline-flex;
}

#infoContainer0 {
  margin-left: 150px;
  margin-right: 100px;
}

#infoContainer1 {
  margin-left: 250px;
}

#infoContainer2 {
  margin-left: 350px;
}
